.header {
  background: linear-gradient(#000000b3, #0f172b), url("bg-hero.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
}
.header h1 {
  margin-top: 10px;
  font-size: 45px;
  color: #ffa217;
}
.header img {
  width: 80px;
  height: 60px;
  margin-left: 40px;
  margin-top: 10px;
}
.header ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: larger;
  margin-left: 200px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
}
.header .ul li:hover {
  color: #ffa217;
}
.btn {
  background-color: #ffa217;
  color: white;
  padding: 10px 10px;
  width: 140px;
  border: none;
  border-radius: 5px;
  font-size: large;
  margin-top: -5px;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #b36e05;
}
.divedrop {
  background-color: white;
  position: absolute;
  top: 70px;
  left: 850px;
  width: 150px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 6;
}
.divedrop a {
  color: black;
  text-decoration: none;
  padding: 8px 12px;
}
.divedrop a:hover {
  background-color: rgb(230, 230, 230);
}
.middle h1 {
  position: absolute;
  top: 200px;
  left: 100px;
  color: white;
  width: 500px;
  font-size: 70px;
}
.middle p {
  position: absolute;
  left: 100px;
  top: 380px;
  width: 500px;
  color: white;
  font-size: 15px;
}
.middle button {
  position: absolute;
  left: 100px;
  top: 480px;
  background-color: #ffa217;
  color: white;
  padding: 10px 10px;
  width: 140px;
  border: none;
  border-radius: 5px;
  font-size: large;
  margin-top: -5px;
  cursor: pointer;
  transition: 0.5s ease;
}
.middle button:hover {
  background-color: #b36e05;
}
.middle img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 700px;
  top: 100px;
  animation: rotateAnimation 20s linear infinite;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @media (max-width: 1280px) {
  .header {
    height: 100vh;
    width: 1300px;
  }
  .header ul {
    margin-left: 100px;
    font-size: medium;
  }
  .header .logo {
    width: 40px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
  }
  .header h1 {
    font-size: x-large;
    margin-top: 20px;
  }
  .header .imgrotate {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 600px;
    top: 100px;
  }
  .middle h1 {
    font-size: 60px;
    margin-top: -20px;
  }
  .middle p {
    margin-top: -30px;
  }
  .middle button {
    margin-top: -30px;
  }
}
@media (max-width: 1024px) {
  .header {
    height: 100vh;
    width: 1400px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 520px;
  }
} */
