.hr1 {
  margin-top: 100px;
  margin-left: 480px;
}
.Menu .food-menu {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #ffa217;
  margin-top: -40px;
}
.hr2 {
  margin-left: 720px;
  margin-top: -45px;
}
.popular {
  text-align: center;
  font-size: 40px;
}
.menu-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}
.bxs-coffee-alt {
  color: #ffa217;
  font-size: 50px;
}
.menu-list img {
  width: 60px;
  height: 50px;
  margin-right: -20px;
}

.breakfast {
  width: 20px;
  margin-left: -10px;
}
.bxs-baguette {
  color: #ffa217;
  font-size: 50px;
  margin-left: 60px;
  margin-right: -20px;
}
.lunch {
  width: 60px;
}
.dinner {
  width: 30px;
}
.menu-list span {
  color: #aaacac;
}
.hr3 {
  margin-top: 1px;
  width: 450px;
  margin-left: 420px;
  border-color: #aaacac;
}
.hr4 {
  margin-top: -11px;
  width: 150px;
  margin-left: 420px;
  border: 2px solid #ffa217;
  border-radius: 5px;
}

