.Cards-Slider h3 {
  color: #222ea1;
  margin-top: -70px;
  margin-left: 140px;
}
.Cards-Slider h4 {
  color: black;
  margin-top: -10px;
  margin-left: 140px;
}
.Cards-Slider p {
  width: 300px;
  margin-left: 50px;
  text-wrap: wrap;
}
.Cards-Slider span {
  cursor: pointer;
  border-radius: 50px;
  background-color: #222ea1;
  color: white;
  width: 50px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  height: 50px;
  position: fixed;
}
.SecondeSpan {
  cursor: pointer;
  left: 30px;
  top: 2350px;
  border-radius: 50px;
  background-color: #222ea1;
  color: white;
  width: 50px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  height: 50px;
}
.Cards-Slider ul {
  list-style: none;
  display: flex;
  gap: 110px;
  flex-direction: row;
  margin-left: 150px;
  transition: 1s ease;
  /* transform: translateX(0%); */
}
.Cards-Slider {
  overflow: hidden;
}
.Cards-Slider img {
  width: 80px;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 100px;
  border: 5px solid #222ea1;
}

.Cards-Slider ul li {
  flex: none;
  width: 430px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  text-align: start;
}
.Cards-Slider .back-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 30px;
  margin-top: 70px;
  background-color: #222ea1;
  padding: 10px 10px;
  color: white;
  z-index: 13;
}
.Cards-Slider .next-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1150px;
  z-index: 13;
  margin-top: -180px;
  background-color: #222ea1;
  padding: 10px 10px;
  color: white;
}
